h2 Align-Items

section#top.helpers.atts
	div(bow)
		div(flex='top')
			.b.wow.slideInUp(col='2') 120
			.b.wow.slideInUp(col='2') 40
			.b.wow.slideInUp(col='2') 200
			.b.wow.slideInUp(col='2') 80
			.b.wow.slideInUp(col='2') 140

section#middle.helpers.atts
	div(bow)
		div(flex='middle')
			.b.wow.flipInX(col='2') 120
			.b.wow.flipInX(col='2') 40
			.b.wow.flipInX(col='2') 200
			.b.wow.flipInX(col='2') 80
			.b.wow.flipInX(col='2') 140

section#bottom.helpers.atts
	div(bow)
		div(flex='bottom')
			.b.wow.slideInDown(col='2') 120
			.b.wow.slideInDown(col='2') 40
			.b.wow.slideInDown(col='2') 200
			.b.wow.slideInDown(col='2') 80
			.b.wow.slideInDown(col='2') 140

section#stretch.helpers.atts
	div(bow)
		div(flex='stretch')
			.b.wow.bounceIn(col='2') 120
			.b.wow.bounceIn(col='2') 40
			.b.wow.bounceIn(col='2') 200
			.b.wow.bounceIn(col='2') 80
			.b.wow.bounceIn(col='2') 140

section#baseline.helpers.atts
	div(bow)
		div(flex='baseline')
			.b.wow.flipInX(col='2') 120
			.b.wow.flipInX(col='2') 40
			.b.wow.flipInX(col='2') 200
			.b.wow.flipInX(col='2') 80
			.b.wow.flipInX(col='2') 140

section#vert-right.helpers.atts
	div(bow)
		div(flex='vert left')
			.b.wow.fadeInDown(col='8') 1
			.b.wow.fadeInDown(col='6' data-wow-delay="250ms") 2
			.b.wow.fadeInDown(col='4' data-wow-delay="500ms") 3

section#vert-center.helpers.atts
	div(bow)
		div(flex='vert center')
			.b.wow.fadeInDown(col='8') 1
			.b.wow.fadeInDown(col='6' data-wow-delay="250ms") 2
			.b.wow.fadeInDown(col='4' data-wow-delay="500ms") 3

section#vert-right.helpers.atts
	div(bow)
		div(flex='vert right')
			.b.wow.fadeInDown(col='8') 1
			.b.wow.fadeInDown(col='6' data-wow-delay="250ms") 2
			.b.wow.fadeInDown(col='4' data-wow-delay="500ms") 3

section#vertrev-right.helpers.atts
	div(bow)
		div(flex='vertrev left')
			.b.wow.fadeInUp(col='8') 1
			.b.wow.fadeInUp(col='6' data-wow-delay="250ms") 2
			.b.wow.fadeInUp(col='4' data-wow-delay="500ms") 3

section#vertrev-center.helpers.atts
	div(bow)
		div(flex='vertrev center')
			.b.wow.fadeInUp(col='8') 1
			.b.wow.fadeInUp(col='6' data-wow-delay="250ms") 2
			.b.wow.fadeInUp(col='4' data-wow-delay="500ms") 3

section#vertrev-right.helpers.atts
	div(bow)
		div(flex='vertrev right')
			.b.wow.fadeInUp(col='8') 1
			.b.wow.fadeInUp(col='6' data-wow-delay="250ms") 2
			.b.wow.fadeInUp(col='4' data-wow-delay="500ms") 3
