h2 Column Justify-Content

section#vert-center.helpers.atts
	div(bow)
		div(flex='vert center')
			.b.wow.zoomIn(col='8') 2
			.b.wow.zoomIn(col='6') 3
			.b.wow.zoomIn(col='4') 4

section#vert-right.helpers.atts
	div(bow)
		div(flex='vert right')
			.b.wow.slideInDown(col='8') 2
			.b.wow.slideInDown(col='6') 3
			.b.wow.slideInDown(col='4') 4

section#vert-self-left.helpers.atts
	div(bow)
		div(flex='vert right')
			.b.wow.slideInDown(col='8') 2
			.b.wow.slideInRight.alt(col='6 left') 3
			.b.wow.slideInDown(col='4') 4

section#vert-self-center.helpers.atts
	div(bow)
		div(flex='vert right')
			.b.wow.slideInDown(col='8') 2
			.b.wow.zoomIn.alt(col='6 center') 3
			.b.wow.slideInDown(col='4') 4
			
section#vert-self-right.helpers.atts
	div(bow)
		div(flex='vert left')
			.b.wow.slideInDown(col='8') 2
			.b.wow.slideInLeft.alt(col='6 right') 3
			.b.wow.slideInDown(col='4') 4
