h2 Columns 

section#cols.helpers
	div(bow)
		div(flex)
			- var n = 0
			while n < 2
				.b.wow.zoomIn(col='6')
				- n++
	div(bow)
		div(flex)
			- var n = 0
			while n < 3
				.b.wow.zoomIn(col='4')
				- n++
	div(bow)
		div(flex)
			- var n = 0
			while n < 4
				.b.wow.zoomIn(col='3')
				- n++
	div(bow)
		div(flex)
			- var n = 0
			while n < 6
				.b.wow.zoomIn(col='2')
				- n++
	div(bow)
		div(flex)
			- var n = 0;
			while n < 12
				.b.wow.zoomIn(col='1')
				- n++
	div(bow)
		div(flex)
			.b.wow.slideInLeft(col='1')
			.b.wow.slideInRight(col='11')
	div(bow)
		div(flex)
			.b.wow.slideInLeft(col='2')
			.b.wow.slideInRight(col='10')
	div(bow)
		div(flex)
			.b.wow.slideInLeft(col='3')
			.b.wow.slideInRight(col='9')
	div(bow)
		div(flex)
			.b.wow.slideInLeft(col='4')
			.b.wow.slideInRight(col='8')
	div(bow)
		div(flex)
			.b.wow.slideInLeft(col='5')
			.b.wow.slideInRight(col='7')
	div(bow)
		div(flex)
			.b.wow.slideInLeft(col='6')
			.b.wow.slideInRight(col='6')
	div(bow)
		div(flex)
			.b.wow.slideInLeft(col='7')
			.b.wow.slideInRight(col='5')
	div(bow)
		div(flex)
			.b.wow.slideInLeft(col='8')
			.b.wow.slideInRight(col='4')
	div(bow)
		div(flex)
			.b.wow.slideInLeft(col='9')
			.b.wow.slideInRight(col='3')
	div(bow)
		div(flex)
			.b.wow.slideInLeft(col='10')
			.b.wow.slideInRight(col='2')
	div(bow)
		div(flex)
			.b.wow.slideInLeft(col='11')
			.b.wow.slideInRight(col='1')
	div(bow)
		div(flex)
			.b.wow.slideInLeft(col='9')
			.b.wow.slideInRight(col='3')
	div(bow)
		div(flex)
			.b.wow.slideInLeft(col='4')
			.b.wow.zoomIn(col='4')
			.b.wow.slideInRight(col='4')
	div(bow)
		div(flex)
			.b.wow.slideInLeft(col='3')
			.b.wow.zoomIn(col='3')
			.b.wow.zoomIn(col='3')
			.b.wow.slideInRight(col='3')
	div(bow)
		div(flex)
			.b.wow.slideInLeft(col='3')
			.b.wow.zoomIn(col='6')
			.b.wow.slideInRight(col='3')

