h2 Columns 

section#cols.helpers
	div(bow)
		div(flex)
			.b.wow.slideInLeft(col='1')
			.b.wow.slideInRight(col='11')
	div(bow)
		div(flex)
			.b.wow.slideInLeft(col='2')
			.b.wow.slideInRight(col='10')
	div(bow)
		div(flex)
			.b.wow.slideInLeft(col='3')
			.b.wow.slideInRight(col='9')
	div(bow)
		div(flex)
			.b.wow.slideInLeft(col='4')
			.b.wow.slideInRight(col='8')
	div(bow)
		div(flex)
			.b.wow.slideInLeft(col='5')
			.b.wow.slideInRight(col='7')
	div(bow)
		div(flex)
			.b.wow.slideInLeft(col='6')
			.b.wow.slideInRight(col='6')
	div(bow)
		div(flex)
			.b.wow.slideInLeft(col='4')
			.b.wow.zoomIn(col='4')
			.b.wow.slideInRight(col='4')
	div(bow)
		div(flex)
			.b.wow.slideInLeft(col='3')
			.b.wow.zoomIn(col='3')
			.b.wow.zoomIn(col='3')
			.b.wow.slideInRight(col='3')
	div(bow)
		div(flex)
			.b.wow.slideInLeft(col='2')
			.b.wow.zoomIn(col='2')
			.b.wow.zoomIn(col='2')
			.b.wow.zoomIn(col='2')
			.b.wow.slideInRight(col='2')
	div(bow)
		div(flex)
			.b.wow.slideInLeft(col='1')
			.b.wow.zoomIn(col='1')
			.b.wow.zoomIn(col='1')
			.b.wow.zoomIn(col='1')
			.b.wow.zoomIn(col='1')
			.b.wow.zoomIn(col='1')
			.b.wow.zoomIn(col='1')
			.b.wow.zoomIn(col='1')
			.b.wow.zoomIn(col='1')
			.b.wow.zoomIn(col='1')
			.b.wow.zoomIn(col='1')
			.b.wow.slideInRight(col='1')
