h2#container.scrollable Container

p ignore default flex rules

section#container.helpers.atts
	div(bow)
		div(flex='container')
			.b.wow.zoomIn(col='4')
			.b.wow.zoomIn(col='4')
			.b.wow.zoomIn(col='4')
