h2 Default Flex

section#default.helpers
	div(bow)
		div(flex)
			-var n = 0
			while n < 3
				.b.wow.zoomIn DIV
				- n++
	div(bow)
		div(flex)
			-var n = 0
			while n < 4
				.b.wow.zoomIn DIV
				- n++
	div(bow)
		div(flex)
			-var n = 0
			while n < 5
				.b.wow.zoomIn DIV
				- n++
