h2 Default Flex

section#default.helpers
	div(bow)
		div(flex)
			.b.wow.zoomIn DIV
			.b.wow.zoomIn DIV
			.b.wow.zoomIn DIV
	div(bow)
		div(flex)
			.b.wow.zoomIn DIV
			.b.wow.zoomIn DIV
			.b.wow.zoomIn DIV
			.b.wow.zoomIn DIV
	div(bow)
		div(flex)
			.b.wow.zoomIn DIV
			.b.wow.zoomIn DIV
			.b.wow.zoomIn DIV
			.b.wow.zoomIn DIV
			.b.wow.zoomIn DIV
