h2 Fill

p ignore gutter in column size calculation

section#fill-row.helpers.atts
	div(bow)
		div(flex)
			.b.wow.bounceIn(col='4')
			.b.wow.bounceIn(col='4')
			.b.wow.bounceIn(col='4')
		div(flex='fill')
			.b.wow.bounceIn(col='4')
			.b.wow.bounceIn.alt(col='4')
			.b.wow.bounceIn(col='4')
	div(bow)
		div(flex)
			.b.wow.bounceIn(col='3')
			.b.wow.bounceIn(col='3')
			.b.wow.bounceIn(col='3')
		div(flex='fill')
			.b.wow.bounceIn(col='3')
			.b.wow.bounceIn(col='3')
			.b.wow.bounceIn(col='3')

section#fill-col.helpers
	div(bow)
		div(flex)
			.b.wow.bounceIn(col='4') *
			.b.wow.bounceIn(col='4') *
			.b.wow.bounceIn(col='4') *
			.b.wow.bounceIn(col='4') *
			.b.wow.bounceIn.alt(col='4 fill') *
			.b.wow.bounceIn(col='4') *
