h2 Flex-Direction

section#row.helpers.atts
	div(bow)
		div(flex='row')
			.b.wow.slideInRight(col='3') 1
			.b.wow.slideInRight(col='3') 2
			.b.wow.slideInRight(col='3') 3
			.b.wow.slideInRight(col='3') 4

section#rowrev.helpers.atts
	div(bow)
		div(flex='rowrev')
			.b.wow.slideInLeft(col='3') 1
			.b.wow.slideInLeft(col='3') 2
			.b.wow.slideInLeft(col='3') 3
			.b.wow.slideInLeft(col='3') 4

section#vert.helpers.atts
	div(bow)
		div(flex='vert')
			.b.wow.slideInTop(col='10') 1
			.b.wow.slideInDown(col='8') 2
			.b.wow.slideInDown(col='6') 3
			.b.wow.slideInDown(col='4') 4

section#vertrev.helpers.atts
	div(bow)
		div(flex='vertrev')
			.b.wow.slideInUp(col='10') 1
			.b.wow.slideInUp(col='8') 2
			.b.wow.slideInUp(col='6') 3
			.b.wow.slideInUp(col='4') 4
