h2 Flex-Direction

section#row.helpers.atts
	div(bow)
		div(flex='row')
			- var n = 1
			while n < 4
				.b.wow.slideInRight(col='4')= n++

section#rowrev.helpers.atts
	div(bow)
		div(flex='rowrev')
			- var n = 1
			while n < 4
				.b.wow.slideInLeft(col='4')= n++

section#vert.helpers.atts
	div(bow)
		div(flex='vert')
			.b.wow.fadeInDown(col='10') 1
			.b.wow.fadeInDown(col='8' data-wow-delay="250ms") 2
			.b.wow.fadeInDown(col='6' data-wow-delay="500ms") 3

section#vertrev.helpers.atts
	div(bow)
		div(flex='vertrev')
			.b.wow.fadeInDown(col='10') 1
			.b.wow.fadeInDown(col='8' data-wow-delay="250ms") 2
			.b.wow.fadeInDown(col='6' data-wow-delay="500ms") 3

