h2 Flex-Direction

section#row.helpers.atts
	div(bow)
		div(flex='row')
			- var n = 1
			while n < 4
				.b.wow.slideInRight(col='4')= n++

section#rowrev.helpers.atts
	div(bow)
		div(flex='rowrev')
			- var n = 1
			while n < 4
				.b.wow.slideInLeft(col='4')= n++

section#vert.helpers.atts
	div(bow)
		div(flex='vert')
			.b.wow.slideInTop(col='10') 1
			.b.wow.slideInDown(col='8') 2
			.b.wow.slideInDown(col='6') 3

section#vertrev.helpers.atts
	div(bow)
		div(flex='vertrev')
			.b.wow.slideInUp(col='10') 1
			.b.wow.slideInUp(col='8') 2
			.b.wow.slideInUp(col='6') 3
