h2#flex-wrap.scrollable Flex-Wrap

section#wrap.helpers.atts
	div(bow)
		div(flex='wrap')
			.b.wow.fadeInRight(col='4') 1
			.b.wow.fadeInRight(col='8') 2
			.b.wow.fadeInRight(col='7', data-wow-delay="500ms") 3
			.b.wow.fadeInRight(col='5', data-wow-delay="500ms") 4

section#wraprev.helpers.atts
	div(bow)
		div(flex='wraprev')
			.b.wow.fadeInRight(col='4') 1
			.b.wow.fadeInRight(col='8') 2
			.b.wow.fadeInLeft(col='7', data-wow-delay="500ms") 3
			.b.wow.fadeInLeft(col='5', data-wow-delay="500ms") 4

section#nowrap.helpers.atts
	div(bow)
			div(flex='nowrap')
				.b.wow.bounceIn(col='5')
				.b.wow.bounceIn(col='3')
				.b.wow.bounceIn(col='11')
				.b.wow.bounceIn(col='4')

