h2 Flex-Wrap

section#wrap.helpers.atts
	div(bow)
		div(flex='wrap')
			.b.wow.fadeInRight(col='4') 1
			.b.wow.fadeInRight(col='8') 2
			.b.wow.fadeInRight(col='7', data-wow-delay="500ms") 3
			.b.wow.fadeInRight(col='5', data-wow-delay="500ms") 4

section#wrap-margin.helpers.atts
	p TODO FIX THIS
	div(bow)
		div(flex='wrap left')
			.b.wow.zoomIn(col='6') 1
			.b.wow.zoomIn(col='6') 2
			.b.wow.zoomIn(col='7') 3
			.b.wow.zoomIn(col='5') 4
			.b.wow.zoomIn.alt(col='7 flush') 5
			.b.wow.zoomIn(col='5') 6

section#wraprev.helpers.atts
	h3 Wrap Reverse
	div(bow)
		div(flex='wraprev')
			.b.wow.fadeInRight(col='4') 1
			.b.wow.fadeInRight(col='8') 2
			.b.wow.fadeInLeft(col='7', data-wow-delay="500ms") 3
			.b.wow.fadeInLeft(col='5', data-wow-delay="500ms") 4

section#wraprev-margin.helpers.atts
	h3 Wrap Reverse Margins
	div(bow)
		div(flex='right')
			.b.wow.fadeInLeft(col='6') 1
			.b.wow.fadeInLeft(col='6') 2
			.b.wow.fadeInLeft(col='7', data-wow-delay="500ms") 3
			.b.wow.fadeInLeft(col='3', data-wow-delay="500ms") 4
		div(flex='right')
			.b.wow.fadeInLeft(col='6') 1
			.b.wow.fadeInLeft.alt(col='6 flush') 2
			.b.wow.fadeInLeft(col='7', data-wow-delay="500ms") 3
			.b.wow.fadeInLeft.alt(col='3 flush', data-wow-delay="500ms") 4

section#nowrap.helpers.atts
	h3 No Wrap
	div(bow)
			div(flex='nowrap')
				.b.wow.bounceIn(col='5')
				.b.wow.bounceIn(col='3')
				.b.wow.bounceIn(col='11')
				.b.wow.bounceIn(col='4')
