h2 Fluid

p containers only

section#fluid-wrapper.helpers.atts
	div(bow='fluid')
		div(flex)
			.b.wow.zoomIn(col='4')
			.b.wow.zoomIn(col='4')
			.b.wow.zoomIn(col='4')
section#fluid-row.helpers.atts
	div(bow)
		div(flex='fluid')
			.b.wow.zoomIn(col='4')
			.b.wow.zoomIn(col='4')
			.b.wow.zoomIn(col='4')
section#fluid-both.helpers.atts
	div(bow='fluid')
		div(flex='fluid')
			.b.wow.zoomIn(col='4')
			.b.wow.zoomIn(col='4')
			.b.wow.zoomIn(col='4')
