h2 Fluid

p containers only

section#fluid-wrapper.helpers
	div.atts(bow='fluid')
		div(flex)
			.b.wow.slideInLeft(col='4')
			.b.wow.zoomIn(col='4')
			.b.wow.slideInRight(col='4')
section#fluid-row.helpers
	div(bow)
		div.atts(flex='fluid')
			.b.wow.slideInLeft(col='4')
			.b.wow.zoomIn(col='4')
			.b.wow.slideInRight(col='4')
section#fluid-both.helpers
	div.atts(bow='fluid')
		div.atts(flex='fluid')
			.b.wow.slideInLeft(col='4')
			.b.wow.zoomIn(col='4')
			.b.wow.slideInRight(col='4')
