h2#flush.scrollable Flush

p ignore margins

section#flush-row.helpers.atts
	div(bow)
		div(flex='center')
			.b.wow.slideInLeft(col='2')
			.b.wow.zoomIn(col='2')
			.b.wow.zoomIn(col='2')
			.b.wow.zoomIn(col='2')
			.b.wow.slideInRight(col='2')
		div(flex='center flush')
			.b.wow.rubberBand(col='2')
			.b.wow.rubberBand.alt(col='2')
			.b.wow.rubberBand(col='2')
			.b.wow.rubberBand.alt(col='2')
			.b.wow.rubberBand(col='2')

section#flush-col.helpers.atts
	div(bow)
		div(flex='left')
			.b.wow.slideInLeft(col='2')
			.b.wow.zoomIn(col='2')
			.b.wow.rubberBand.alt(col='2 flush')
			.b.wow.zoomIn(col='2')
			.b.wow.slideInRight(col='2')
		div(flex='center')
			.b.wow.slideInLeft(col='2')
			.b.wow.zoomIn(col='2')
			.b.wow.rubberBand.alt(col='2 flush')
			.b.wow.zoomIn(col='2')
			.b.wow.slideInRight(col='2')
		div(flex='right')
			.b.wow.slideInLeft(col='2')
			.b.wow.zoomIn(col='2')
			.b.wow.rubberBand.alt(col='2 flush')
			.b.wow.zoomIn(col='2')
			.b.wow.slideInRight(col='2')

section#flush-wrap.helpers.atts
	div(bow)
		div(flex='left wrap')
			.b.wow.slideInLeft(col='4')
			.b.wow.slideInLeft(col='4')
			.b.wow.slideInLeft(col='4')
			.b.wow.slideInLeft.alt(col='4 flush')
			.b.wow.slideInLeft(col='4')
			.b.wow.slideInLeft(col='4')
			.b.wow.slideInLeft.alt(col='4')
			.b.wow.slideInLeft.alt(col='4')
			.b.wow.slideInLeft.alt(col='4')
