h2 Flush

p ignore margins

section#flush-row.helpers.atts
	div(bow)
		div(flex='center')
			.b.wow.zoomIn(col='2')
			.b.wow.zoomIn(col='2')
			.b.wow.zoomIn(col='2')
			.b.wow.zoomIn(col='2')
			.b.wow.zoomIn(col='2')
		div(flex='center flush')
			.b.wow.zoomIn(col='2')
			.b.wow.zoomIn.alt(col='2')
			.b.wow.zoomIn(col='2')
			.b.wow.zoomIn.alt(col='2')
			.b.wow.zoomIn(col='2')

section#flush-col.helpers.atts
	div(bow)
		div(flex='left')
			.b.wow.zoomIn(col='2')
			.b.wow.zoomIn(col='2')
			.b.wow.zoomIn(col='2')
			.b.wow.zoomIn(col='2')
			.b.wow.zoomIn(col='2')
		div(flex='left')
			.b.wow.zoomIn(col='2')
			.b.wow.zoomIn(col='2')
			.b.wow.zoomIn.alt(col='2 flush')
			.b.wow.zoomIn(col='2')
			.b.wow.zoomIn(col='2')
	div(bow)
		div(flex='center')
			.b.wow.zoomIn(col='2')
			.b.wow.zoomIn(col='2')
			.b.wow.zoomIn(col='2')
			.b.wow.zoomIn(col='2')
			.b.wow.zoomIn(col='2')
		div(flex='center')
			.b.wow.zoomIn(col='2')
			.b.wow.zoomIn(col='2')
			.b.wow.zoomIn.alt(col='2 flush')
			.b.wow.zoomIn(col='2')
			.b.wow.zoomIn(col='2')
	div(bow)
		div(flex='right')
			.b.wow.zoomIn(col='2')
			.b.wow.zoomIn(col='2')
			.b.wow.zoomIn(col='2')
			.b.wow.zoomIn(col='2')
			.b.wow.zoomIn(col='2')
		div(flex='right')
			.b.wow.zoomIn(col='2')
			.b.wow.zoomIn(col='2')
			.b.wow.zoomIn.alt(col='2 flush')
			.b.wow.zoomIn(col='2')
			.b.wow.zoomIn(col='2')
