h2 Justify-Self

section#self-left.helpers.atts
	div(bow)
		div(flex='bottom')
			.b.wow.slideInDown(col='2') 120
			.b.wow.slideInUp.alt(col='2 left') 40
			.b.wow.slideInDown(col='2') 200

section#self-middle.helpers.atts
	div(bow)
		div(flex='bottom')
			.b.wow.slideInDown(col='2') 120
			.b.wow.zoomIn.alt(col='2 center') 40
			.b.wow.slideInDown(col='2') 200
			.b.wow.slideInDown(col='2') 80
			.b.wow.slideInDown(col='2') 140

section#self-bottom.helpers.atts
	div(bow)
		div(flex='top')
			.b.wow.slideInUp(col='2') 120
			.b.wow.slideInDown.alt(col='2 right') 40
			.b.wow.slideInUp(col='2') 200
			.b.wow.slideInUp(col='2') 80
			.b.wow.slideInUp(col='2') 140

section#self-stretch.helpers.atts
	div(bow)
		div(flex='top')
			.b.wow.slideInUp(col='2') 120
			.b.wow.bounceIn.alt(col='2 stretch') 40
			.b.wow.slideInUp(col='2') 200
			.b.wow.slideInUp(col='2') 80
			.b.wow.slideInUp(col='2') 140

section#self-baseline.helpers.atts
	div(bow)
		div(flex='middle')
			.b.wow.flipInX(col='2') 120
			.b.wow.flipInX.alt(col='2 baseline') 40
			.b.wow.flipInX(col='2') 200
			.b.wow.flipInX(col='2') 80
			.b.wow.flipInX(col='2') 140

section#vert-self-left.helpers.atts
	div(bow)
		div(flex='vert right')
			.b.wow.fadeInDown(col='8') 2
			.b.wow.fadeInRight.alt(col='6 left') 3
			.b.wow.fadeInDown(col='4') 4

section#vert-self-center.helpers.atts
	div(bow)
		div(flex='vert right')
			.b.wow.fadeInDown(col='8') 2
			.b.wow.zoomIn.alt(col='6 center') 3
			.b.wow.fadeInDown(col='4') 4
			
section#vert-self-right.helpers.atts
	div(bow)
		div(flex='vert left')
			.b.wow.fadeInDown(col='8') 2
			.b.wow.fadeInLeft.alt(col='6 right') 3
			.b.wow.fadeInDown(col='4') 4
