h2#justify-content.scrollable Justify-Content

section#left.helpers.atts
	div(bow)
		div(flex='left')
			.b.wow.slideInRight(col='3')
			.b.wow.slideInRight(col='3')
			.b.wow.slideInRight(col='3')

section#right.helpers.atts
	div(bow)
		div(flex='right')
			.b.wow.slideInLeft(col='3')
			.b.wow.slideInLeft(col='3')
			.b.wow.slideInLeft(col='3')

section#center.helpers.atts
	div(bow)
		div(flex='center')
			.b.wow.zoomIn(col='3')
			.b.wow.zoomIn(col='3')
			.b.wow.zoomIn(col='3')
				
section#around.helpers.atts
	div(bow)
		div(flex='around')
			.b.wow.rubberBand(col='3')
			.b.wow.rubberBand(col='3')
			.b.wow.rubberBand(col='3')
				
section#even.helpers.atts
	div(bow)
		div(flex='even')
			.b.wow.rubberBand(col='3')
			.b.wow.rubberBand(col='3')
			.b.wow.rubberBand(col='3')

section#between.helpers.atts
	div(bow)
		div(flex='between')
			.b.wow.fadeInRight(col='3')
			.b.wow.zoomIn(col='3')
			.b.wow.fadeInLeft(col='3')
