nav#nav
	a.active(href='#intro') Intro
	a(href='#columns') Columns
	a(href='#justify-content') justify-content
	a(href='#flex-direction') flex-direction
	a(href='#flex-wrap') flex-wrap
	a(href='#align-items') align-items
	a(href='#align-self') align-self 
	a(href='#nesting') Nesting
	a(href='#responsive') Responsive
	a(href='#fluid') Fluid
	a(href='#container') Container
	a(href='#flush') Flush
	a(href='#fill') Fill
	a(href='#playground') Playground

