h2 Other Combos

p list out some other default behavoir

section.helpers.atts
	div(bow)
		div(flex='left')
			.b(col='6')
			.b.alt(col='6')
		div(flex='left')
			.b(col='6 flush')
			.b.alt(col='6 flush')
		div(flex='left fill')
			.b(col='6 flush')
			.b.alt(col='6 flush')
		div(flex='left')
			.b(col='6 flush')
			.b.alt(col='6 flush fill')
		div(flex='left')
			.b(col='6 flush fill')
			.b.alt(col='6 flush')
	div(bow)
		div(flex='center')
			.b(col='6')
			.b.alt(col='6')
		div(flex='center')
			.b(col='6 flush')
			.b.alt(col='6 flush')
		div(flex='center fill')
			.b(col='6 flush')
			.b.alt(col='6 flush')
		div(flex='center')
			.b(col='6 flush')
			.b.alt(col='6 flush fill')
		div(flex='left center')
			.b(col='6 flush fill')
			.b.alt(col='6 flush')
