h2 Overrides

section#fill-row.helpers.atts
	h3 Fill Row
	div(bow)
		div(flex='fill')
			.b.wow.bounceIn(col='4')
			.b.wow.bounceIn.alt(col='4')
			.b.wow.bounceIn(col='4')
	div(bow)
		div(flex='fill')
			.b.wow.bounceIn(col='2')
			.b.wow.bounceIn.alt(col='2')
			.b.wow.bounceIn(col='2')
			.b.wow.bounceIn.alt(col='2')
			.b.wow.bounceIn(col='2')
			.b.wow.bounceIn.alt(col='2')
	div(bow)
		div(flex='left fill')
			.b.wow.bounceIn(col='3')
			.b.wow.bounceIn.alt(col='5')
			.b.wow.bounceIn(col='2')

section#fill-cols.helpers
	h3 Fill Column
	div(bow)
		div(flex)
			.b.wow.zoomIn(col='9')
			.b.wow.zoomIn(col='3')
		div(flex)
			.b.wow.bounceIn.alt(col='9 fill') *
			.b.wow.zoomIn(col='3')
	div(bow)
		div.atts(flex='left')
			.b.wow.zoomIn(col='3')
			.b.wow.zoomIn(col='4')
			.b.wow.zoomIn(col='3')
		div.atts(flex='left')
			.b.wow.zoomIn(col='3')
			.b.wow.bounceIn.alt(col='4 fill') *
			.b.wow.zoomIn(col='3')
	div(bow)
		div.atts(flex='right')
			.b.wow.zoomIn(col='3')
			.b.wow.zoomIn(col='4')
			.b.wow.zoomIn(col='3')
		div.atts(flex='right')
			.b.wow.zoomIn(col='3')
			.b.wow.bounceIn.alt(col='4 fill') *
			.b.wow.zoomIn(col='3')
	div(bow)
		div.atts(flex='between')
			.b.wow.zoomIn(col='3')
			.b.wow.zoomIn(col='4')
			.b.wow.zoomIn(col='3')
		div.atts(flex='between')
			.b.wow.zoomIn(col='3')
			.b.wow.bounceIn.alt(col='4 fill') *
			.b.wow.zoomIn(col='3')
section#wrap-margin.helpers.atts
	p TODO FIX THIS
	div(bow)
		div(flex='wrap left')
			.b.wow.zoomIn(col='6') 1
			.b.wow.zoomIn(col='6') 2
			.b.wow.zoomIn(col='7') 3
			.b.wow.zoomIn(col='5') 4
			.b.wow.zoomIn.alt(col='7 flush') 5
			.b.wow.zoomIn(col='5') 6

section#wraprev-margin.helpers.atts
	h3 Wrap Reverse Margins
	p TODO fix this
	div(bow)
		div(flex='right')
			.b.wow.fadeInLeft(col='6') 1
			.b.wow.fadeInLeft(col='6') 2
			.b.wow.fadeInLeft(col='7', data-wow-delay="500ms") 3
			.b.wow.fadeInLeft(col='3', data-wow-delay="500ms") 4
			.b.wow.fadeInLeft(col='6') 1
			.b.wow.fadeInLeft(col='6') 2
		div(flex='right')
			.b.wow.fadeInLeft(col='6') 1
			.b.wow.fadeInLeft.alt(col='6 flush') 2
			.b.wow.fadeInLeft(col='7', data-wow-delay="500ms") 3
			.b.wow.fadeInLeft.alt(col='5 flush', data-wow-delay="500ms") 4
			.b.wow.fadeInLeft(col='6') 1
			.b.wow.fadeInLeft.alt(col='6 flush') 2
