section#playground.helpers.atts
	div#play-bow(bow='')
		div#play-flex(flex='row wrap between top')
			- var n = 0
			while n < 4
				.b.play-col(col='1')
					select
						- var m = 1
						while m < 13
							option(value=m)=m
							- m++
				- n++
