/// @group BowFlexGrid

/*
/// This is the base file for the dist BowFlexGrid
/// Customizing: just copy this file, edit, and include in your build
*/

@import "_bowflex";

/// Number of colunms in your layout
$columns: 12;

///  Margin between columns (start/center/end)
$gutter: 20px;
$mobilePadding: 5%;

/// @content Associative array of nicknames => breakpoints
/// @example
///  <div flex="vertical" flex-sml="row wrap" flex-med="nowrap">
///  <div col="12" col-sml="6" col-med="4" col-lrg="3" col-xlg="2">
$bps: (
	sml: 505px, // < large phone / small tablet
	med: 768px, // common tablet
	lrg: 1024px, // large tablet / small desktop
	xlg: 1400px // large desktop >
);

// create the grid
@include bowflex-grid($bps, $columns, $gutter, $mobilePadding, lrg, xlg);
